li {
  box-shadow: 2px 1px 3px 3px rgb(204, 196, 196);
  background-color: white;
  border-radius: 12px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  background-color: rgb(255, 177, 177);
  width: 120px;
  height: 30px;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(149, 86, 86);
  transition: 0.3s;
}

.task {
  height: 50px;
  background-color: rgb(255, 226, 153);
  width: 120px;
  border-radius: 12px;
}

.task:hover {
  background-color: rgb(184, 155, 39);
  transition: 0.3s;
}

.completed {
  text-decoration: line-through;
}
